    ANSWER - 1

In [23]:
v = "Pw skills"    ## STRING

In [3]:
l = [1,34,45.56,'shudh']     ## LIST

In [4]:
f = 23.34    ## FLOAT

In [6]:
t = {1,2,44,'salman',}   ## TUPPLE

    ANSWER- 2

In [19]:
str    ##(I)

str

In [20]:
str    ##(II)

str

In [11]:
list   ##(III)

list

In [ ]:
float  ## (IV)

  ANSWER - 3

(i)  In Python, the / operator is used for division. It performs floating-point division, which means it returns a floating-point result even if the dividend and divisor are integers

In [25]:
10/3

3.3333333333333335

(ii)   In Python, the % operator is the modulo operator. It returns the remainder of the division of the left operand by the right operand.

In [26]:
10%3

1

(iii)   In Python, the // operator is the floor division operator. It performs division between two numbers and returns the largest integer that is less than or equal to the result.

In [28]:
16//3

5

   ANSWER - 4

In [32]:
list1 = [1, "Shudh", 3.14, True, "World", 5, 582, 6.28, "Programming", 10]

for x in list1:
	print(x, type(x))

1 <class 'int'>
Shudh <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
World <class 'str'>
5 <class 'int'>
582 <class 'int'>
6.28 <class 'float'>
Programming <class 'str'>
10 <class 'int'>

## ANSWER - 5

In [28]:
## Input numbers A and B
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

# Initialize a counter for the number of times A can be divided by B
divisions = 0

# Use a while loop to check and count divisions
while A >= B:
    A = A - B
    divisions += 1
    

# Output the result
if A == 0:
    print(f"{A} is purely divisible by {B}. It can be divided {divisions} times.")
else:
    print(f"{A} is not purely divisible by {B}. Remainder: {A}")

Enter the dividend (A):  2
Enter the divisor (B):  5

2 is not purely divisible by 5. Remainder: 2

   ANSWER - 6

In [35]:
my_list = [2, 3,5,4,6,7,8,33,55,65,44,34,56,78,9,76,5,4,34,67,9,4,45,57,68]
for i in my_list:
    if i % 3 == 0:
        print( i , 'is divisible by 3')
    else:
        print( i , 'is not divisible by 3')

2 is not divisible by 3
3 is divisible by 3
5 is not divisible by 3
4 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
33 is divisible by 3
55 is not divisible by 3
65 is not divisible by 3
44 is not divisible by 3
34 is not divisible by 3
56 is not divisible by 3
78 is divisible by 3
9 is divisible by 3
76 is not divisible by 3
5 is not divisible by 3
4 is not divisible by 3
34 is not divisible by 3
67 is not divisible by 3
9 is divisible by 3
4 is not divisible by 3
45 is divisible by 3
57 is divisible by 3
68 is not divisible by 3

  ANSWER - 7

 Mutable Data Type :- Mutable objects can be modified after creation. Changes made to the object directly affect the object itself.

In [14]:
a = [1,2,3,45]

In [18]:
a[2] = 4

In [17]:
a                         ## List are Mutable

[1, 2, 4, 45]

 Immutable Data Type :- Immutable objects cannot be modified after creation. Any operation that appears to modify the object actually creates a new object.

In [23]:
b = (1, 23,56.76,[23,45,67.56], "salman" )

In [26]:
b[3] = [34]                ## Tuple are Immutable

TypeError: 'tuple' object does not support item assignment